# Koneksi database (sesuaikan)
DB_HOST=172.17.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=ganti-ini-password-mysql
DB_NAME=utbk_belajar

# Password akses aplikasi (kosongkan untuk nonaktif)
APP_PASSWORD=ganti-juga-password-app

# CORS origin (kosongkan untuk auto localhost:FRONTEND_PORT)
CORS_ORIGIN=https://domain-anda.com
